* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 200px;
    height: 250px;
}

.card {
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front,
.back {
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
}

.front {}

.back {
    transform: rotateY(180deg);
    display: "flex";
    height: 100%;
    width: 100%;
}

.container:hover>.card {
    cursor: pointer;
    transform: rotateY(180deg)
}