.cardLoading {
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.titleLoading {
    animation: skeleton-loading 1s ease-in-out infinite alternate;
}

.imageLoading {
    opacity: .7;
    animation: skeleton-loading-content 1s ease-in-out infinite alternate
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 85%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

@keyframes skeleton-loading-content {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 85%);
    }
}

