:root {
  --white: #fff;
  --MerriweatherRegular200-fontFamily: Merriweather;
  --MerriweatherRegular200-fontSize: 22;
  --MerriweatherRegular200-fontWeight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.custom-input::placeholder {
  color: var(--white);
  font-family: var(--MerriweatherRegular200-fontFamily);
  font-size: var(--MerriweatherRegular200-fontSize);
  font-weight: var(--MerriweatherRegular200-fontWeight)
}